.color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 18px;
}

.upload-file {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-left: 15px;
    padding: 10px;
}